@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Azeret Mono", monospace;
}
header{
    background-image: url(../images/Hero-bg.png);
    background-size: contain;
}
header a{
    margin-left: 150px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
header button{
    margin-left: 730px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    background-color: white;
}
header img{
    margin-left: 540px;
    margin-top: 50px;
}
.becoming{
    width: 520px;
    text-align: center;
    margin-left: 350px;
}
.header-pera{
    width: 570px;
    text-align: center;
    margin-left: 330px;
    font-size: 14px;
    color: #373d4b;
}
.contact-btn{
    margin-left: 390px;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
/* *** */
.need{
    margin: 100px 100px 0 100px;

}
.need-headline{
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
}
.need-description{
    width: 750px;
    text-align: center;
    margin-left: 130px;
    color: #646464;
}
.creative{
    display: flex;
    gap: 190px;
    margin-top: 50px;
}
.creative-headline{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.creative-pera{
    font-size: 14px;
    color: #646464;
}
.creative-div1{
    width: 50%;
}
.demand{
    display: flex;
    gap: 190px; 
}
.learnig{
    display: flex;
    gap: 190px;   
}
/* *** */
.inspiration{
    margin: 100px 100px 0 100px;
}
.inspiration-headline{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.inspiration-pera{
    color: #646464;
    font-size: 14px; 
    width: 750px;
    text-align: center;
    margin-left: 130px;
}
.inspiration iframe{
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 130px;
}
/* *** */
.current-target{
    margin: 100px 100px 0 100px;
}
.current-target-headline{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.card-box{
    display: flex;
    gap: 30px;
    margin: 40px 0 40px 0;
}
.html-box{
    background-color: rgb(255, 245, 226);
    width: 300px;
    padding: 30px;
    border-radius: 10px;
}
.css-box{
    background-color: rgb(204, 204, 255);
    width: 300px;
    padding: 30px;
    border-radius: 10px;
}
.java-box{
    background-color: rgb(255, 255, 202);
    width: 300px;
    padding: 30px;
    border-radius: 10px;
}
.box-headline{
    font-size: 16px;
    font-weight: bold;    
}
.box-pera{
    font-size: 14px;
    color: #646464;
}
/* *** */
.support{
    margin: 100px 100px 0 100px;
    background-image: url(../images/handshake.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.support-headline{
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}
.support-pera{
    color: rgb(235, 235, 235) ;
    font-size: 14px;
    width: 500px;
    text-align: center;
    margin-left: 270px;
}
.message{
    width: 500px;
    height: 30px;
    margin-left: 200px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: none;
}
.submit{
    padding: 8px;
    border-radius: 5px;
    border: none;
}